RewriteEngine on

RewriteBase /

# Store the current location in an environment variable CWD
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule ^.*$ - [E=CWD:%2]

# Just by prefixing the environment variable, we can safely rewrite anything now
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)/(.*).com(?=/(.*)|$) %{ENV:CWD}public/index.php?class=$1&function=$2&content=$3 [QSA,L]
