<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Sweet Transit Calc</title>
        <link rel="icon" href="../public/Assets/Images/train.png" type="image/png">
        <link rel="stylesheet" href="../public/css/stylesheet.css" type="text/css">

        <script type="text/javascript" src="../public/Assets/Scripts/jQuery.js"></script>
        <script type="text/javascript" src="../public/js/Main.js"></script>
    </head>
    <body>
        <h1>Sweet Transit Calculator</h1>

        <label for="facility-names">Name des Gebäudes:</label>
        <select id="facility-names" name="facility-names">

        </select>

        <br><br>

        <label for="production">Produktion/min:</label>
        <input id="production" name="production" type="number">

        <br><br>

        <label for="workers">Arbeiter</label>
        <input id="workers" name="workers" type="number">
    </body>
</html>